.top {
  width: 100%;
  min-height: calc(100vh - 54px); /*header分の54pxを引いている*/
  display: grid;
  grid-template-columns: 282px auto;
}

.top__sideMenu {
  width: 100%;
  min-height: calc(100vh - 54px); /*header分の54pxを引いている*/
  padding: 16px;
}

.top__mainContents {
  width: 100%;
  min-height: calc(100vh - 54px); /*header分の54pxを引いている*/
  background-color: aliceblue;
}