.dialog {
  width: 100%;
  max-width: 480px;
  height: fit-content;
  display: grid;
  place-items: center;
  gap: 16px;
  background-color: var(--background);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .25);
  border-radius: 8px;
}

.dialog__texts {
  width: 100%;
  padding: 32px;
  padding-bottom: 0;
  display: grid;
  gap: 8px;
}

.dialog__title {
  font-size: 20px;
  font-weight: 700;
}

.dialog__buttons {
  width: fit-content;
  display: grid;
  gap: 32px;
  grid-template-columns: auto auto;
  justify-items: center;
  padding: 32px;
  padding-top: 8px;
}

.dialog__cancel,
.dialog__confirm {
  min-width: 120px;
  display: grid;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--font-white-1);
  padding: 16px 32px;
  background-color: var(--button-gray);
  border-radius: 8px;
}

.dialog__cancel:hover {
  background-color: var(--button-gray-hover);
}

.dialog__confirm {
  background-color: var(--button-active);
}

.dialog__confirm:hover {
  background-color: var(--button-active-hover);
}
